.category-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.category {
  padding: 1em 3em;
}

@mixin category-border;

.category-title {
  color: $color-text-accent;
  margin-top: 0;
}

.category-item {
  font-size: $font-size-small;
}
